# Sanal ortam
venv/

# Python bytecode
__pycache__/
*.pyc

# Paketler
*.tar.gz
*.zip

# Veri ve model ağırlıkları
# Veri ve model ağırlıkları
data/
# allow the model file but ignore the rest of the folder
checkpoints/



# macOS gizli dosyaları
.DS_Store

# IDE/Editor ayarları
.vscode/
.idea/

# Ortam değişkenleri
.env

# Log dosyaları
*.log
checkpoints/ # Varsa zaten sorun değil
